test
test_protect
train
*cpython*
*pycache*
evaluation/data
configs_mine
configs_clean
authorization/scripts/infer_mypath.sh
authorization/scripts/verify_mypath.sh
metrics/LIQE/checkpoints/*
metrics/LIQE/data/*
metrics/LIQE/IQA_Database/*
metrics/LIQE/*png
paper_figure
metrics/results
metrics/get_avg_id_code.py
metrics/id_embed/*
evaluation/GrIDPure/256x256_diffusion_uncond.pt
metrics/PSR_wauth_every_vgg.py
metrics/PSR_wauth_every.py
metrics/PSR_every_vgg.py
metrics/PSR_every.py
authorization/scripts/verify_record_mypath.sh
protection/Metacloak/prior-data
protection/Metacloak/exp_data